<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CursTwoSemestry.Properties.Settings.Bank_LoansConnectionString"
            connectionString="Data Source=LAPTOP-GOG9SDSJ\SQLEXPRESS;Initial Catalog=Bank_Loans;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>